.card {
	border: 1px solid black;
	max-width: 250px;
	display: inline-block;
	padding: 20px;
	margin: 15px;
	color: black;
	box-shadow: 5px 5px 5px rgba(92, 91, 91, 0.5);
	border-radius: 10px;
	text-align: center;
}

.card-image {
	border-radius: 50%;
	max-width: 60%;
	margin-bottom: 10px;
	height: auto;
}

.card-title {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px;
}
